<template>
    <div class="peperos-info">
        <div class="photo"><img :src="photoPath" alt="peperoName" /></div>
        <div class="title">{{ peperoName }}</div>
        <div class="price">{{ peperoPrice }}원</div>
        <div class="nutrition">영양정보: {{ peperoNutrition }} kcal</div>
        <div class="score">별점: {{ peperoScore }}</div>
    </div>
</template>

<script>
    export default {
        props: {
            peperoScore: {
                type: String,
                required: true
            },
            photoPath: {
                type: String,
                required: true
            },
            peperoName: {
                type: String,
                required: true
            },
            peperoPrice: {
                type: Number,
                required: true
            },
            peperoNutrition: {
                type: Number,
                required: true
            },
            peperoScore: {
                type: String,
                required: true
            }
        }
    }
</script>
