div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}
div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}
div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}


div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}
div.sq-login-box div.img-box img {
    width: 100%;
}


span.sq-status-badge {
    background-color: #ac0000;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 15px 10px 5px;
    color: #ffffff;
}
span.sq-status-badge span {
    background-color: #ffffff;
    color: #333333;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    padding: 5px 10px;
}


div.sq-ending-thumb-box {
    width: 120px;
    background-color: #001b89;
    text-align: center;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-thumb {
    padding-top: 10px;
}
div.sq-ending-thumb-box div.in-thumb img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-text {
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: 600;
}

.sq-ballon {
    border: #333333 1px solid;
    width: 320px;
    position: relative;
    background: #333333;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 12.8px;
    -webkit-box-shadow: 3px 3px 3px 3px #D1D1D1;
    box-shadow: 3px 3px 3px 3px #D1D1D1;
}


.sq-ballon:after {
    border-top: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 35px;
    left: 160px;
}
@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

div.mainTitle {
    font-family: 'LOTTERIACHAB';
    display: flex;
    justify-content: center;
    color: #3c2817;
    margin-bottom: 15px;
}
div.mainTitle {
    font-size: 55px;
    background: linear-gradient(to right top, #1c0b04, #c59666);
    color: transparent;
    -webkit-background-clip: text;
}
div.subTitle {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #333333;
    margin-bottom: 25px;
}

div.banner > img {
    display: inline-block;
    margin-bottom: 50px;
    width: 1180px; height: auto;
}

div.peperos-info {
    display: inline-block;
    background: #f4f4f4;
    border-radius: 8px;
    border: 0;
    padding: 7px;
    margin: 10px;
}
div.peperos-info > div.photo > img {
    background: #ffffff;
    width: 200px;
    height: 200px;
    }
div.peperos-info > div.photo > img:hover{
    transform: scale(1.1);
    transition: all 0.2s linear;
}
div.peperos-info > div.photo{
    width: 200px;
    margin: 0px auto;
    overflow: hidden;
}
div.peperos-info > div.title {
    font-weight: 900;
    font-size: 15px;
    color: #181818;
    margin: 10px 0px 0px 8px;
}
div.peperos-info > div.price {
    font-size: 13px;
    color: #333333;
    margin: 10px 0px 0px 8px;
}
div.peperos-info > div.nutrition {
    font-size: 13px;
    color: #333333;
    margin: 10px 0px 0px 8px;
}
div.peperos-info > div.score {
    font-size: 13px;
    color: #333333;
    margin: 10px 0px 20px 8px;
}

