<template>
    <div>
        <div class="banner"><img src="/images/11day_event_pc.jpg" alt="이벤트베너" /></div>
        <div class="mainTitle">2020 인기 빼빼로 모음</div>
        <div class="subTitle">2020 인기 빼빼로, 좀 더 저렴한 가격으로 만나보세요!</div>
        <div class="gradcircle"></div>
        <section>
            <copang-pepero-info
                v-for="(item, index) in peperos"
                v-bind:key="index"
                v-bind:pepero-nutrition="item.peperoNutrition"
                v-bind:pepero-price="item.peperoPrice"
                v-bind:pepero-name="item.peperoName"
                v-bind:photo-path="item.photoName"
                v-bind:pepero-score="item.peperoScore"
            />
            <div class="box">
                <p>border-box</p>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            peperos: [
                {
                    photoName: '/images/pepero_01.jpg',
                    peperoName: '빼빼로 초코 54g',
                    peperoPrice: 1300,
                    peperoNutrition: 270,
                    peperoScore: '★★★★★'
                },
                {
                    photoName: '/images/pepero_02.jpeg',
                    peperoName: '누드 초코 빼빼로 50g',
                    peperoPrice: 1500,
                    peperoNutrition: 255,
                    peperoScore: '★★★★★'
                },
                {
                    photoName: '/images/pepero_03.jpg',
                    peperoName: '크런키 빼빼로 39g',
                    peperoPrice: 1500,
                    peperoNutrition: 205,
                    peperoScore: '★★★★★'
                },
                {
                    photoName: '/images/pepero_04.jpg',
                    peperoName: '녹차 빼빼로 37g',
                    peperoPrice: 1300,
                    peperoNutrition: 270,
                    peperoScore: '★★★★★'
                },
                {
                    photoName: '/images/pepero_05.png',
                    peperoName: '초코쿠키 빼빼로 37g',
                    peperoPrice: 1400,
                    peperoNutrition: 180,
                    peperoScore: '★★★★★'
                },
                {
                    photoName: '/images/pepero_06.png',
                    peperoName: '화이트쿠키 빼빼로 37g',
                    peperoPrice: 1400,
                    peperoNutrition: 185,
                    peperoScore: '★★★★★'
                },
                {
                    photoName: '/images/pepero_07.png',
                    peperoName: '아몬드 빼빼로 37g',
                    peperoPrice: 1300,
                    peperoNutrition: 205,
                    peperoScore: '★★★★★'
                },
                {
                    photoName: '/images/pepero_08.jpg',
                    peperoName: '제주 감귤 빼빼로 37g',
                    peperoPrice: 1400,
                    peperoNutrition: 190,
                    peperoScore: '★★★★★'
                },
                {
                    photoName: '/images/pepero_09.png',
                    peperoName: '누드 크림 치즈 빼빼로 37g',
                    peperoPrice: 1300,
                    peperoNutrition: 240,
                    peperoScore: '★★★★★'
                },
                {
                    photoName: '/images/pepero_10.jpg',
                    peperoName: '꼬깔 빼빼로 37g',
                    peperoPrice: 1300,
                    peperoNutrition: 160,
                    peperoScore: '★★★★★'
                },
            ]
        }
    }
}
</script>
